@model _2013105920_ENT.Entities.Pantalla

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pantalla</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Atm.Mensaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atm.Mensaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Retiro.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Retiro.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AtmId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AtmId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetiroId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetiroId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PantallaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
