@model IEnumerable<_2013105920_ENT.Entities.BaseDatos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Atm.Mensaje)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Retiro.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administrador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idATM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Atm.Mensaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Retiro.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Administrador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idATM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BaseDatosId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BaseDatosId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BaseDatosId })
        </td>
    </tr>
}

</table>
